*{
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: white;
}

body{
  background-color: skyblue;
}

#container{
  padding-top: 100px;
  margin: auto;
  text-align: center;
}

button, input{
  color: skyblue;
}
