<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<body>

  <div id="container">

    <!-- MAIN TABLE -->

    <h2>autor: <%= ranQuotePers %></h2>

    <br>

    <h1><%= ranQuote %></h1>

    <br>

    <h3>is this person still alive? <%= ranQuoteLive %></h3>

    <br>

    <h4>ID: <%= ranQuoteID %></h4>

    

  </div>

</body>

</html>
