<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<body>

  <div id="container">

    <!-- MAIN TABLE -->

    <form action="/api/quotes/<%= motode %>" method="post">

      <label for="autor">name of the autor</label>
      <br>
      <input name="autor" id="autor" type="text">

      <br>
      <br>
      <br>
      <br>

      <label for="quote">the quote it self</label>
      <br>
      <input name="quote" id="quote" type="text">

      <br>
      <br>
      <br>
      <br>

      <button type="submit" name="makeThis" id="makeThis">MAKE THIS QUOTE</button>

    </form>

  </div>

</body>

</html>
