<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<body>

  <div id="container">

    <!-- MAIN TABLE -->

    <label for="autorIN">name of the autor</label>
    <br>
    <input name="autorIN" id="autorIN" type="text">

    <br>
    <br>
    <br>
    <br>

    <label for="quoteIN">the quote it self</label>
    <br>
    <input name="quoteIN" id="quoteIN" type="text">

    <br>
    <br>
    <br>
    <br>

    <label for="autorLife"></label>
    <br>
    <input name="autorLifeIN" id="autorLifeIN" type="checkbox">

    <br>
    <br>
    <br>
    <br>

    <button type="button" name="makeThis" id="makeThis">MAKE THIS QUOTE</button>

  </div>

</body>

</html>
